<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'static_pages' %>
<%= javascript_include_tag 'h1-anime' %>
<%= javascript_include_tag 'static_pages' %>

<div class="center">
  <div class="circle">
    <div class="inner"> <!-- 文字配置の基準となる親要素 -->
      <p class="text">Untangled pasta trees </p>
    </div>
  </div>
  <%= link_to 'Create_tree',  new_tree_path, class: "caption card"%></br>
  <%= link_to 'All_trees', trees_path, class: "caption card"%>
</div>
