<div class="caption center">
  <h1>Create_user</h1>
  <%= form_with model: @user, local: true do |f| %>
    <%= f.label :user_name %></br>
    <%= f.text_field :user_name, class: "utext font-noto" %></br>
    <%= f.label :email %></br>
    <%= f.text_field :email, class: "utext font-noto" %></br>
    <%= f.label :password %></br>
    <%= f.password_field :password, class: "utext font-noto" %></br>
    <%= f.label :password_confirmation %></br>
    <%= f.password_field :password_confirmation, class: "utext font-noto" %></br>
    <%= f.submit "create", class: "utext font" %>
  <% end %>
</div>