<div class="card">
  <div class="caption"><%= link_to tree.title, tree_layers_path(tree), data: {"turbolinks" => false}, :style => "color: black;" %></div>
  <div>Description:<%= tree.description %></div>
  <div>Author:<%= User.find(tree.user_id).user_name %></div>
  <div>Leaf:<%= tree.leaf_count %></div>
  <div>Updated_at:<%= l tree.updated_at, format: :long %></div>
</div>
