<div class="caption center">
  <h1>Edit_tree</h1>
  <%= form_with model: @tree, local: true do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title, class: "utext font-noto" %></br>
    <%= f.label :description %></br>
    <%= f.text_field :description, class: "utext font-noto" %></br>
    <%= f.submit 'edit', class: "utext font" %>
  <% end %> 
</div>