<div class="caption center">
  <h1>new_tree</h1>
  <%= form_with model: @tree, local: true do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title, class: "utext" %></br>
    <%= f.label :description %></br>
    <%= f.text_field :description, class: "utext" %></br>
    <%= f.submit 'create', class: "utext" %>
  <% end %> 
</div>