<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'trees' %>
<%= javascript_include_tag 'trees' %>

<div class="caption center">
  <h1>new_tree</h1>
  <%= form_with model: @tree, local: true do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title, class: "text" %></br>
    <%= f.label :description %></br>
    <%= f.text_field :description, class: "text" %></br>
    <%= f.submit 'create', class: "text" %>
  <% end %> 
</div>