<div class="caption center">
  <h2>Login</h2>
  <%= form_with model: @user, local: true do |f| %>
    <%= f.label :email %></br>
    <%= f.text_field :email, class: "utext" %></br>
    <%= f.label :password %></br>
    <%= f.password_field :password, class: "utext" %></br>
    <%= f.submit 'login', class: "utext" %>
  <% end %>
  <%= link_to 'Create_user', new_user_path %>
</div>
